@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tom Ekstrand</h1>
	<p>ASP.NET CORE MVC - driftsatt i Azure (Ununtu VM + Nginx + systemd).</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
